{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">Les niveaux de formation et leurs programmes</h3>
			<br><br><br>
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4>Découverte</h4>
						<img class="citation" src="assets/images/découvert.jpg">
					</div>
					<div class="h-body text-center">
						<p>L'évangélisation</p><br>
                        <p>La création</p><br>
                        <p>Les grandes religions</p><br>
                        <p>Les livres Historiques</p><br>
                        <p>L'éthiques générales</p><br>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4>Débutant</h4>
						<img class="citation" src="assets/images/débutant.jpg">
					</div>
					<div class="h-body text-center">
						<p>L'Esprit Saint</p><br>
                        <p>La culture religieuse francaise</p><br>
                        <p>L'Eglise chrétienne</p><br>
                        <p>L'épitres générales</p><br>
                        <p>Le culte</p><br>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4>Intermédiaire</h4>
						<img class="citation" src="assets/images/intermédiaire.jpg">
					</div>
					<div class="h-body text-center">
					<p>Histoire de l'Eglise</p><br>
                        <p>Les écritures et les révélations</p><br>
                        <p>L'Homme et le péché'</p><br>
                        <p>La sainte parole</p><br>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4>Expert</h4>
						<img class="citation" src="assets/images/expert.jpg"></div>
					<div class="h-body text-center">
						<p>Histoire de l'Eglise</p><br>
                        <p>Les écritures et les révélations</p><br>
                        <p>L'Homme et le péché'</p><br>
                        <p>La sainte parole</p><br>
					</div>
				</div>

                	<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4>Intermédiaire</h4>
						<img class="citation" src="assets/images/intermédiaire.jpg">
					</div>
					<div class="h-body text-center">
					<p>Les actes et les épitres</p><br>
                        <p>Les livre de l'Ancien Testament</p><br>
                        <p>L'accompagnement religieux</p><br>
                        <p>L'éthique sexuelle et familiale</p><br>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->
{% endblock %}
