{% extends 'base.html.twig' %}

{% block title %}Institut Biblique des Adorateurs{% endblock %}

{% block body %}
<div class="container text-center">
		<br> <br>
	<!-- /Intro-->
		<h4 class="text-muted">
		L'institut Biblique des adorateurs est une association religieuse chrétienne. 
		Son objectif est de contribuer à l’éducation biblique populaire pour que la Parole devienne à travers des formations, 
		pour ses fidèles, une source inspirante dans leur vie quotidienne.
		Ses collaborateurs sont des passionnés de transmettre leur savoir. </h4>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">Les citations bibliques du mois</h3>
			
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4>La Lumière</h4>
						<img class="citation" src="assets/images/lumiere.png">
					</div>
					<div class="h-body text-center">
						<p><i>Ephésiens 5:14 Or ce qui paraît à la lumière est lumière. De là viennent ces paroles : Réveille-toi, ô toi qui dors, relève-toi d'entre les morts : le Christ fera lever sa lumière sur toi.</i>
						</p>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4>L'arbre</h4>
						<img class="citation" src="assets/images/arbre.jpg">
					</div>
					<div class="h-body text-center">
						<p><i>Luc 6:43 Un bon arbre ne peut pas porter de mauvais fruits, ni un mauvais arbre de bons fruits.</i>
						</p>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4>Le coeur</h4>
						<img class="citation" src="assets/images/coeur.jpg">
					</div>
					<div class="h-body text-center">
						<p>
							<i>Ezéchiel 11:19 Je leur donnerai un coeur qui me sera entièrement dévoué et je mettrai en eux un esprit nouveau, j'ôterai de leur être leur coeur dur comme la pierre, et je leur donnerai un coeur de chair,</i>
						</p>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4>L'ange</h4>
						<img class="citation" src="assets/images/ange.jpg"></div>
					<div class="h-body text-center">
						<p><i>Zacharie 2:7 Comme l'ange qui me parlait s'en allait, un autre ange vint à sa rencontre</i>
						</p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	



{% endblock %}
